apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: measure-yolo
  namespace: serverless
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/window: "10s"
    spec:
      # Forces pods to run on the specific node
      nodeSelector:
        kubernetes.io/hostname: "cloud-node"
      containers:
        - image: docker.io/lazyken/measure-yolo:v1@sha256:19c6b78bc821ce089b2e65d5718116d2010d84d11e86043eb2263557a13452c7
          ports:
            - containerPort: 8080
          env:
            - name: RTMP_STREAM_URL
              value: '192.168.17.130:2000'
            - name: MODEL_LOAD_TIMEOUT
              value: '0'
          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "2000m"   
              memory: "3Gi"  