apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: measure-streaming
  namespace: serverless
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/window: 10s
        autoscaling.knative.dev/min-scale: '0'
        autoscaling.knative.dev/max-scale: '1'
    spec:
      containers:
      - image: docker.io/lazyken/measure-streaming:v1@sha256:e24c0f0c2caed9f9738474c1075053603a352b214c120d4cf4cbab871147c8f1
        ports:
        - containerPort: 8080
        env:
        - name: SOURCE_IP
          value: "192.168.17.130:2000"
        - name: SCALE_VALUE
          value: "1280x720"
        # resources:
        #   limits:
        #     cpu: "100m"
      nodeSelector:
        kubernetes.io/hostname: cloud-node